:root {
        /* fonts */
        --font-poppins: Poppins;

    /* Colors */
    --color-white: #fff;
    --color-royalblue: #4269e2;

    /* border radiuses */
    --br-81xl: 100px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    line-height: normal;
    background: #252323
}



a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}