.navs {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.navs .div {
  background-color: #0d0d0d;
  border: 1px none;
  height: 84px;
  position: relative;
  width: 1440px;
}

.navs .logo {
  align-items: left;
  display: flex;
  gap: 2px;
  justify-content: left;
  left: 200px;
  position: absolute;
  top: 30px;
  width: fit-content;

}

.navs .star {
  height: 15.15px;
  min-width: 15.48px;
  position: relative;
}

.navs .text-wrapper {
  color: var(--color-white);
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navs .nav-links {
  align-items: center;
  display: flex;
  gap: 32px;
  left: 288px;
  position: absolute;
  top: 35px;
  width: fit-content;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navs .text-wrapper-2 {
  color: var(--color-white);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navs .frame {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.navs .akar-icons-chevron {
  height: 12px;
  min-width: 12px;
  position: relative;
}

.navs .search-box {
  align-items: center;
  background-color: #373737;
  display: flex;
  gap: 12px;
  left: 904px;
  padding: 12px 56px 12px 40px;
  position: absolute;
  top: 20px;
  width: 336px;
}

.input {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.navs .img {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.navs .search-for-anything {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}



@media (max-width: 768px) {
  .navs .div {
    width: 100%;
    padding: 0 20px;
  }

  .navs .nav-links {
    left: 5rem;
    width: 30%;
  }


  .navs .search-box {
    left: 30rem;
    width: 15rem;
    height: 3rem;
  }
}

@media (max-width: 399px) {
  .navs .div {
    width: 100%;
    padding: 0 10px;
  }

  .navs .logo {
    left: 10px;
  }

  .navs .nav-links {
    left: 90px;
  }

  .navs .search-box {
    left: 150px;
    width: 80px;
  }
}